
      <h2>Bright Sungshin, Bright Idea!</h2>


<h1  >아이디어 대잔치</h1>
<h4>머릿 속에만 있는 나만의 아이디어를 던져보세요! 익명의 누군가가 그에 공감할 수도, 피드백해줄 수도 있으니깐요,</h4>
<button type="submit"><a href="/board/new">아이디어 던지러 가기</a></button>

<br>
<br>

<%@every.each do |p| %> 

   

<h3 >#<%=p.id%>번째 아이디어</h3>
<a href="/board/show/<%=p.id%>"><%=p.title%></a>
<br>
<form action="/destroy/<%=p.id%>" method="post">
    <button type="submit">삭제</button>
    <button type="submit" formaction="/board/edit/<%=p.id%>" formmethod="post">수정</button>
</form>



<br>
<%end%>
